@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  line-height: 27px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  display: inline;
}

h3
{
  font-weight: 300;
  display: inline;
}

.header {
  background-color: #f9f9ff;
  padding: 0.5%;
}

.header > h1 {
  margin: 0% 1% 0% 1%;
}

.header > form {
  position: absolute;
  top: 20%;
  right: 20%;
}

.logo {
  width: 5vw;
  height: 5vw;
  margin: 15%;
  z-index: 2;
  background-image: url("../img/logo_outline_red.png");
  background-size: 3.5vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  border-radius: 9999px;
  border: #f42f2c solid 2px;
  box-shadow: 0px 0px 40px rgba(244, 47, 44, 0.32);
  background-color: rgba(244, 47, 44, 0.09);
}

.logo:hover {
  border: #f9f9ff solid 2px;
  box-shadow: none;
  background-image: url("../img/logo_outline.png");
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.32);
  background-color: rgba(255, 255, 255, 0.12);
}

.banner-left {
  background: #2d2d2d;
  height: 100vh;
  padding-right: 0;
}

.main_btn {
  width: 100%;
  margin-bottom: 10%;
  background-color: #eb2d2a;
  z-index: 2;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 48px;
  transition: 0.25s;
  border: #eb2d2a solid 1px;
}

.main_btn:hover {
  background: transparent;
  color: #eb2d2a;
  border: #eb2d2a solid 1px;
}

.grey_btn {
  font-size: 15px;
  background-color: #cccccc;
  border: #cccccc solid 1px;
  color: #999999;
  box-shadow: none;
}

.grey_btn:hover {
  background: transparent;
  border: #cccccc solid 1px;
  color: #999999;
  box-shadow: none;
}

.mobile-left-padding{
  padding-left: 0;
}

.sorting-header
{
  background-color: #e9e9ee;
  padding: 0.5%;
  text-align: left;
}

.file-row-category{
  background: transparent;
  font-weight: 350;
  text-align: left;
}

.file-row:hover{
  background-color: rgba(244, 47, 44, 0.35) !important;
  color: #555555;
}

.no-javascript{
  text-align: center;
  background-color: orange;
  color: #ffffff;
  display: none;
}

.scrollable{
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 90vh;
  width: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 1em;
}

.scrollable::-webkit-scrollbar-track {
  border: rgba(169, 169, 169, 0.404) solid 1px;
}

.scrollable::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}